@media only screen and (max-width: 600px) {
     .imageContainer{
   
            height:210px;
            border-radius: 5px;
            margin-bottom: 32px;
           
        }
    }


body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #303030;
    color: black;
    

}
.h3{
    text-align: center;
}

.header{
    background:#EB5757;
    color:white;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: bold;
    

}
.textBox{
    background:white;
    height:130px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    }
.imageContainer{
   
    height:210px;
    border-radius: 5px;
    margin-bottom: 5px;
   
}
.imageBox{
    background-image: url('https://www.featurepics.com/FI/Thumb300/20090806/Egyptian-Hieroglyphics-1288497.jpg');
    background-size: cover;    
     /* background-repeat: no-repeat ; */
     height: 100px;
     max-height: 200px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
   

}
.row{
    
    padding:15px;

}
.imageBoxSnow{
    background-image: url('https://static01.nyt.com/images/2016/06/23/science/24TB-RedSnow/24TB-RedSnow-jumbo.jpg');
    background-size: cover;    
    /* background-repeat: no-repeat ; */
    height: 100px;
    max-height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.textBox p{
    font-size: 10px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
   
    
    

   
}
.textBox h4{
    text-align: left;
    padding-top: 12px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: 1000;


}